@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// Поменяй на .title
h1 {
  text-transform: uppercase;
  /* relative и z-index в продительский блок (title-box) */
  position: relative;
  z-index: 3;
  font-weight: 800;
  font-size: 45px;
  color: #fff;
  line-height: 1.7;
}

.container {
  margin: 0 220px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  /* Тут надо сделать выравнивание по вертикали с помощью flex, а не mt */
  /* Так же тебе надо сделать отсупы сверху и снизу с помощью padding */
}

.header:before {
  z-index: 2;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  z-index: 1;
  background-image: url(./img/rock-731140_1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

/* Поменяй на .title-box, или как назовешь в HTML */
.title {
  text-align: center;
  padding: 100px 240px 120px 240px;
}

.logo-link {
  /* relative и z-index в продительский блок (header-wrapper) */
  position: relative;
  z-index: 3;
  display: block;

  /* Не правильно */
  padding-top: 30px;
}

.header-menu {
  /* relative и z-index в продительский блок (header-wrapper) */
  position: relative;
  z-index: 3;
  font-weight: 400;
  display: flex;
  
  /* Не правильно */
  margin-top: 44px;
}

.menu-option:nth-child(n + 2) {
  margin-left: 30px;
}

/* Надо добавить состояние */
.nav-link {
  text-transform: uppercase;
  color: #fff;
}
